<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Mi primera app</a>

</nav>

<div class="container content">
  <div class="row">
    <div class="col-md-6">Hola</div>
    <div class="col-md-6">Mundo</div>
  </div>
</div>
