<form class="form-inline" *ngIf="!authService.getUser()">
	<div class="form-group">
		<label for="username">User:</label>
		<input class="form-control" placeholder="Type user..." name="username" #username>
	</div>
	<div class="form-group">
		<label for="password">Password:</label>
		<input class="form-control" placeholder="Type pass..." type="password" name="password" #password>
	</div>
	<button class="btn btn-success" (click)="login(username.value, password.value)">Entrar!</button>
  {{mensajeError}}
</form>
<a class="btn btn-default" (click)="logout()" *ngIf="authService.getUser()">Salir!</a>
