<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
    </div>
  </div>
  <hr class="mb-5" />
  <div class="row">
    <app-destino-viaje
      *ngFor="let d of destinosApiClient.getAll(); let i = index"
      [idx]="i + 1"
      [destino]="d"
      (clicked)="elegido($event)"
      appEspiame
    ></app-destino-viaje>
  </div>
  <hr class="mb-5" />
  <div class="row">
    <ul>
      <li *ngFor="let u of updates">{{u}}</li>
    </ul>
  </div>
</div>
