<div class="card-content" [@esFavorito] = "destino.isSelected() ? 'estadoFavorito': 'estadoNoFavorito'">
  <div class="card-img">
    <img src="{{ destino.imagenurl }}" alt="" />
    <span
      ><h4>{{ posicion }}</h4></span
    >
  </div>
  <div class="card-desc">
    <h3>{{ destino.nombre }}</h3>
    <p>Servicios</p>
    <ul>
      <li *ngFor="let s of destino.servicios">
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'Desayuno'" style="color: red">{{ s }}</i>
          <i *ngSwitchDefault>{{ s }}</i>
        </span>
      </li>
    </ul>
    <div class="row">
      <div class="col-12">
        <a href="#" (click)="voteUp()" appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
          <i class="material-icons md-18">thumb_up</i>
        </a>
         <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
          <i class="material-icons md-18">thumb_down</i>
        </a>
        <span>Votos: {{destino.votes}}</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-12">
        <a href="" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
      </div>
    </div>
  </div>
  <div class="row flex justify-content-center">
    <div class="col-10">
      <p class="alert alert-success" *ngIf="destino.isSelected()">
        <span ngNonBindable>{{ Preferido }}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12"><a [routerLink]="['/destino', destino.id]">Ver detalle</a></div>
  </div>
</div>
