<div class="container content">
  <div class="page-header">
    <div style="float: right">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">France</option>
        <option value="en">English</option>
      </select>
    </div>

    <h1>Ruteo simple</h1>
    <div class="nav-links">
      <a [routerLink]="['/home']">Home</a>
      <a [routerLink]="['/destino']">Destino</a>
    </div>
  </div>

  <!-- <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div> -->
  <div class="row">
    <div class="col">
      <div class="row">
        <h1>{{ title }} <b [innerHTML]="'HOLA' | translate"></b></h1>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<hr class="mb-5" />

Fecha: {{ time | async }}
